/* MODAL_MAKE */
.modal__main_make {
	max-width: 640px;
}
.make {
	border-radius: 24px;
	background-color: var(--bgPink);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	padding: 60px 40px;
}
.make__title {
	font-size: 44px;
	font-weight: 900;
	color: var(--black);
	margin-bottom: 40px;
}
.make__title span {
	color: var(--red);
}
.make__form {
	display: flex;
	flex-direction: column;
	gap: 0 55px;
}
.make__wrap-add {
	display: flex;
	gap: 0 55px;
	margin-bottom: 40px;
}
.make__fieldset_ingredients {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px 50px;
	margin-bottom: 32px;
}
.make__fieldset_topping {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	width: 150px;
}
.make__legend {
	color: var(--liteBrown);
	margin-bottom: 24px;
}
.make__fieldset_cup {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
}
.make__upsale {
	color: var(--liteBrown);
	font-size: 12px;
}
.make__footer {
	display: flex;
	align-items: center;
	gap: 30px;
}
.make__add-btn {
	min-width: 232px;
}
.make__total-price {
	font-weight: 600;
}
.make__total-size {
	font-size: 12px;
	text-align: right;
	color: var(--liteBrown);
}